@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/Lato-Regular.woff2") format("woff2"), url("../fonts/LatoRegular/Lato-Regular.woff") format("woff"), url("../fonts/LatoRegular/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/Lato-Light.woff2") format("woff2"), url("../fonts/LatoLight/Lato-Light.woff") format("woff"), url("../fonts/LatoLight/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/LatoBold/Lato-Bold.woff2") format("woff2"), url("../fonts/LatoBold/Lato-Bold.woff") format("woff"), url("../fonts/LatoBold/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LatoBlack";
  src: url("../fonts/LatoBlack/Lato-Black.woff2") format("woff2"), url("../fonts/LatoBlack/Lato-Black.woff") format("woff"), url("../fonts/LatoBlack/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0 23px 0;
}

.header_wrapper .header_burger {
  display: none;
}

.header_wrapper .header_menu {
  display: inherit;
}

.header_wrapper .header_menu a {
  text-decoration: none;
  font: 13.5px "LatoRegular", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  color: #868686;
  border-radius: 2px;
  padding: 12px 21px;
}

.header_wrapper .header_menu a:hover {
  padding: 12px 21px;
  color: #ffeed8;
  border-radius: 2px;
  background-color: #ffbb42;
  cursor: pointer;
}

@media (max-width: 1190px) {
  .header_wrapper .header_logo {
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  .header_wrapper .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    margin-right: 15px;
  }
  .header_wrapper .header_burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_wrapper .header_burger:before,
  .header_wrapper .header_burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_wrapper .header_burger:before {
    top: 0;
  }
  .header_wrapper .header_burger:after {
    bottom: 0;
  }
  .header_wrapper .header_burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header_wrapper .header_burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_wrapper .header_burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header_wrapper .header_menu {
    position: fixed;
    background-color: #709dca;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    z-index: 3;
    padding: 90px 0 0 0;
  }
  .header_wrapper .header_menu a {
    color: #fff;
  }
  .header_wrapper .header_burger.active {
    right: 0;
    position: fixed;
  }
  .header_wrapper .header_menu.active {
    top: 0;
  }
}

.banner {
  text-align: center;
  background: url(../images/banner/banner_bg.png) repeat-x;
  padding: 0 0 103px 0;
}

.banner .banner_wrapper {
  padding: 110px 0 0 0;
}

.banner .banner_wrapper .banner_title {
  font: 35px "LatoBlack", "sans-serif";
  color: #fff;
  text-transform: uppercase;
  line-height: 0.686;
  padding-bottom: 10px;
}

.banner .banner_wrapper p {
  font: 16px "LatoLight", "sans-serif";
  color: #fff;
  padding-bottom: 33px;
}

.banner .banner_wrapper .banner_input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 65px 0;
}

.banner .banner_wrapper .banner_input_container input {
  height: 46px;
  width: 281px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  font: 13px "Open Sans";
  color: #c2c2c2;
  line-height: 1.2;
  padding: 0 0 0 45px;
}

.banner .banner_wrapper .banner_input_container input.person {
  background: url(../images/banner/person.png) no-repeat 13px 15px;
  background-color: #fff;
}

.banner .banner_wrapper .banner_input_container input.email {
  background: url(../images/banner/email.png) no-repeat 13px 17px;
  background-color: #fff;
}

.banner .banner_wrapper .banner_input_container input.phone {
  background: url(../images/banner/phone.png) no-repeat 13px 16px;
  background-color: #fff;
}

.banner .banner_wrapper .banner_input_container button {
  height: 46px;
  width: 210px;
  border-radius: 2px;
  outline: none;
  font: 14px "Open Sans";
  background-color: #ffbb42;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
  margin-left: 10px;
}

.banner .banner_wrapper .banner_input_container button:hover {
  cursor: pointer;
}

.banner .banner_wrapper .banner_slider_wrapper img {
  padding: 0 0 23px 0;
}

.banner .banner_wrapper .banner_slider_wrapper .circle_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .banner_wrapper .banner_slider_wrapper .circle_wrapper .circle {
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #dfe0e1;
  border-radius: 50%;
  margin: 0 8px 0 0;
}

.banner .banner_wrapper .banner_slider_wrapper .circle_wrapper .circle:hover {
  border-color: #37b2e1;
}

@media (max-width: 1175px) {
  .banner .banner_wrapper .banner_title {
    font: 25px "LatoBlack", "sans-serif";
    padding: 0 7px 5px 7px;
  }
  .banner .banner_wrapper p {
    padding: 0 7px 35px 7px;
  }
  .banner .banner_wrapper .banner_input_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 55px 0;
  }
  .banner .banner_wrapper .banner_input_container input {
    margin-bottom: 10px;
  }
  .banner .banner_wrapper .banner_slider_wrapper img {
    width: 485px;
    height: 277px;
  }
}

@media (max-width: 515px) {
  .banner .banner_wrapper .banner_slider_wrapper img {
    width: 380px;
    height: 256px;
  }
}

@media (max-width: 435px) {
  .banner .banner_wrapper {
    padding: 45px 0 0 0;
  }
  .banner .banner_wrapper .banner_title {
    font: 25px "LatoBlack", "sans-serif";
    padding: 0 15px 5px 15px;
  }
  .banner .banner_wrapper .banner_slider_wrapper img {
    width: 280px;
    height: 186px;
  }
}

.services {
  padding: 0 0 157px 0;
}

.services .services__wrapper {
  text-align: center;
  color: #394b50;
}

.services .services__wrapper .services__title {
  font: 30px "LatoBlack", "sans-serif";
  text-transform: uppercase;
  line-height: 0.733;
  padding: 0 0 10px 0;
}

.services .services__wrapper p {
  font: 16px "LatoLight", "sans-serif";
  padding: 0 0 90px 0;
}

.services .services__wrapper .services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .services__wrapper .services__cards .services__card {
  padding: 0 0 80px 0;
}

.services .services__wrapper .services__cards .services__card .services__card__text {
  float: right;
  text-align: start;
  padding: 0 0 0 40px;
}

.services .services__wrapper .services__cards .services__card .services__card__text .services__title {
  font: 16px "LatoBold", "sans-serif";
  text-transform: uppercase;
  line-height: 1.375;
  padding: 0 0 22px 0;
}

.services .services__wrapper .services__cards .services__card .services__card__text p {
  font: 13px "Open Sans", "sans-serif";
  line-height: 1.692;
  max-width: 450px;
  padding: 0;
}

.services .services__wrapper .services__cards .services__card:nth-child(3) img {
  width: 47px;
  height: 50px;
}

.services .services__wrapper .services__cards .services__card:nth-last-child(-n + 2) {
  padding: 0;
}

@media (max-width: 1190px) {
  .services .services__cards {
    padding: 0 15px;
  }
}

@media (max-width: 1170px) {
  .services .services__wrapper p {
    padding: 0 0 75px 0;
  }
  .services .services__wrapper .services__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 25px;
  }
  .services .services__wrapper .services__cards img {
    padding: 0 0 25px 0;
  }
  .services .services__wrapper .services__cards .services__card .services__card__text {
    display: contents;
    text-align: center;
  }
  .services .services__wrapper .services__cards .services__card:nth-child(3) img {
    width: auto;
    height: auto;
  }
  .services .services__wrapper .services__cards .services__card:last-child {
    padding: 80px 0 0 0;
  }
}

.about {
  background-color: #ffc155;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about__text {
  color: #ffffff;
  padding: 165px 265px 0 30px;
}

.about .about__text .about__title {
  font: 30px "LatoBlack", "sans-serif";
  text-transform: uppercase;
  padding: 0 0 30px 0;
}

.about .about__text p {
  font: 13px "Open Sans", "sans-serif";
  line-height: 1.846;
  padding: 0 0 35px 0;
  max-width: 505px;
}

.about .about__text .about__button {
  height: 45px;
  width: 145px;
  border-radius: 2px;
  border: 2px solid #e9af49;
  text-align: center;
}

.about .about__text .about__button a {
  display: block;
  padding-top: 11px;
  font: 14px "LatoRegular", "sans-serif";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.about .about__text .about__button:hover {
  cursor: pointer;
}

@media (max-width: 1725px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about img {
    width: 850px;
    height: 623px;
    margin: 0 auto;
    padding: 15px 0 0 0;
  }
  .about .about__text {
    padding: 80px 0;
    text-align: center;
    margin: 0 auto;
  }
  .about .about__button {
    margin: 0 auto;
  }
}

@media (max-width: 1190px) {
  .about img {
    width: 650px;
    height: 423px;
  }
}

@media (max-width: 992px) {
  .about img {
    width: 550px;
    height: 323px;
  }
}

@media (max-width: 655px) {
  .about img {
    width: 300px;
    height: 193px;
  }
  .about .about__text p {
    padding: 0 15px 35px 15px;
  }
}

.price {
  padding: 137px 0 0 0;
  background-color: #e7edf3;
}

.price .price__header {
  text-align: center;
  color: #394b50;
}

.price .price__header .price__title {
  font: 30px "LatoBlack", "sans-serif";
  text-transform: uppercase;
}

.price .price__header p {
  font: 16px "LatoLight", "sans-serif";
  padding: 0 0 50px 0;
}

.price .price__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 165px 0;
}

.price .price__cards .price__card {
  background-color: #ffff;
  color: #818b95;
  padding: 57px 30px 47px 30px;
}

.price .price__cards .price__card .price__card__title {
  font: 25px "LatoLight", "sans-serif";
  padding: 0 0 30px 0;
}

.price .price__cards .price__card .price__cost {
  font: 50px "LatoBold", "sans-serif";
  color: #ffbb42;
}

.price .price__cards .price__card .price__cost sup {
  font-size: 30px;
}

.price .price__cards .price__card p {
  font: 12px "LatoLight", "sans-serif";
  padding: 0 0 33px 0;
}

.price .price__cards .price__card nav {
  padding: 0 0 20px 0;
}

.price .price__cards .price__card nav .price__card__line {
  width: 330px;
  height: 1px;
  background-color: #e2e9f0;
}

.price .price__cards .price__card nav p {
  font: 13.5px "LatoLight", "sans-serif";
  color: #b5bbc1;
  padding: 18px 0 15px 0;
}

.price .price__cards .price__card .price__button {
  margin: 0 auto;
  width: 131px;
  height: 42px;
  background-color: #e9af49;
  border-radius: 2px;
}

.price .price__cards .price__card .price__button a {
  font: 14px "LatoLight", "sans-serif";
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 11px;
}

.price .price__cards .price__card .price__button:hover {
  cursor: pointer;
}

.price .price__cards .price__card:nth-child(2) {
  color: #ffffff;
  background-color: #709dca;
  padding: 87px 34px 78px 30px;
}

.price .price__cards .price__card:nth-child(2) .price__cost {
  color: #ffffff;
}

.price .price__cards .price__card:nth-child(2) .price__cost sup {
  font: 30px "LatoLight", "sans-serif";
}

.price .price__cards .price__card:nth-child(2) nav .price__card__line {
  background-color: #8eb8e2;
}

.price .price__cards .price__card:nth-child(2) nav p {
  color: #c2e1ff;
}

@media (max-width: 1190px) {
  .price .price__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price .price__cards .price__card {
    padding: 37px 10px 27px 10px;
  }
  .price .price__cards .price__card:nth-child(2) {
    padding: 67px 14px 58px 10px;
  }
}

@media (max-width: 1065px) {
  .price .price__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price .price__cards .price__card {
    margin: 0 10px 10px 0;
  }
  .price .price__cards .price__card:nth-child(2) {
    padding: 37px 10px 27px 10px;
  }
}

@media (max-width: 415px) {
  .price .price__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price .price__cards .price__card {
    margin: 0 0 10px 0;
    padding: 37px 3px 27px 3px;
  }
  .price .price__cards .price__card nav .price__card__line {
    width: 300px;
  }
  .price .price__cards .price__card:nth-child(2) {
    padding: 37px 3px 27px 3px;
  }
  .price .price__cards .price__card:nth-child(2) nav .price__card__line {
    width: 300px;
  }
}

.works {
  text-align: center;
  padding: 0 0 150px 0;
}

.works .works__header {
  padding: 156px 0 81px 0;
  color: #394b50;
}

.works .works__header .works__title {
  font: 30px "LatoBlack", "sans-serif";
  text-transform: uppercase;
}

.works .works__header p {
  font: 16px "LatoLight", "sans-serif";
}

.works .works__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 90px 0;
}

.works .works__steps .works__step {
  color: #4e5d61;
}

.works .works__steps .works__step img {
  padding: 33px 0 0 0;
  height: auto;
}

.works .works__steps .works__step .step__title {
  font: 20px "LatoBold", "sans-serif";
  text-transform: uppercase;
  padding: 100px 0 28px 0;
}

.works .works__steps .works__step p {
  font: 13px "Open Sans", "sans-serif";
  line-height: 1.692;
  max-width: 213px;
}

.works .works__steps .works__step:nth-child(n + 2) img {
  height: 91px;
}

.works .works__steps img {
  height: 30px;
}

.works .works__steps img:nth-child(4) {
  margin: 97px 0 0 0;
}

.works .works__button {
  height: 45px;
  width: 166px;
  border-radius: 2px;
  background-color: #ffbb42;
  margin: 0 auto;
}

.works .works__button a {
  display: block;
  font: 14px "LatoRegular", "sans-serif";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px;
}

@media (max-width: 1190px) {
  .works .works__steps {
    padding: 0 15px 90px 15px;
  }
}

@media (max-width: 970px) {
  .works .works__header {
    padding: 156px 15px 81px 15px;
  }
  .works .works__steps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works .works__steps .works__step {
    margin: 0 50px 0 0;
  }
  .works .works__steps .works__step:nth-child(7) {
    margin: 0;
  }
  .works .works__steps img:nth-child(2n) {
    display: none;
  }
}

@media (max-width: 779px) {
  .works .works__steps .works__step {
    margin: 0 25px 0 0;
  }
}

@media (max-width: 481px) {
  .works .works__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works .works__steps .works__step {
    margin: 0 0 30px 0;
  }
  .works .works__steps .works__step .step__title {
    padding: 35px 0 28px 0;
  }
  .works .works__steps .works__step p {
    margin: 0 auto;
  }
  .works .works__steps .works__step:nth-child(3) {
    margin: 0 0 30px 0;
  }
  .works .works__steps .works__step:nth-child(5) {
    margin: 0 0 30px 0;
  }
}

.clients {
  background-color: #ffc155;
  padding: 0 0 160px 0;
}

.clients .clients__header {
  text-align: center;
  padding: 140px 0 0 0;
  color: #ffffff;
}

.clients .clients__header .clients__title {
  font: 30px "LatoBlack", "sans-serif";
  text-transform: uppercase;
}

.clients .clients__header p {
  font: 16px "LatoLight", "sans-serif";
  padding: 0 0 58px 0;
}

.clients .clients__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients .clients__cards .clients__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 43px 52px 29px;
  background-color: #ffffff;
  margin: 0 0 20px 0;
}

.clients .clients__cards .clients__card img {
  height: 123px;
  padding: 0 13px 0 0;
}

.clients .clients__cards .clients__card .card__text {
  font: 13px "Open Sans", "sans-serif";
  color: #9e9e9e;
  line-height: 1.692;
}

.clients .clients__cards .clients__card .card__text p {
  max-width: 344px;
}

.clients .clients__cards .clients__card .card__text .card__author {
  font: 14px "LatoRegular", "sans-serif";
  color: #f78d58;
  text-transform: uppercase;
  padding: 29px 0 0 0;
}

.clients .clients__cards .clients__card .card__text .card__author span {
  color: #d3d9dc;
}

.clients .clients__cards .clients__card:nth-last-child(-n + 2) {
  margin: 0;
}

@media (max-width: 1190px) {
  .clients .clients__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .clients .clients__cards .clients__card:nth-child(3) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 570px) {
  .clients .clients__cards .clients__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients .clients__cards .clients__card img {
    width: 123px;
  }
  .clients .clients__cards .clients__card .card__text {
    padding: 13px 0 0 0;
  }
}

@media (max-width: 440px) {
  .clients .clients__cards {
    padding: 0 5px;
  }
}

.news {
  text-align: center;
  padding: 155px 0 51px 0;
}

.news .news__header .news__title {
  font: 30px "LatoBlack", "sans-serif";
  text-transform: uppercase;
  color: #394b50;
}

.news .news__header p {
  font: 16px "LatoLight", "sans-serif";
  padding: 0 10px 39px 10px;
}

.news .news__header .news_input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 15px;
}

.news .news__header .news_input_container input {
  height: 46px;
  width: 281px;
  border-radius: 2px;
  border: 1px solid #cbcbcb;
  margin-right: 10px;
  outline: none;
  font: 13px "Open Sans";
  color: #c2c2c2;
  line-height: 1.2;
  padding: 0 0 0 45px;
}

.news .news__header .news_input_container input.person {
  background: url(../images/banner/person.png) no-repeat 13px 15px;
  background-color: #fff;
}

.news .news__header .news_input_container input.email {
  background: url(../images/banner/email.png) no-repeat 13px 17px;
  background-color: #fff;
}

.news .news__header .news_input_container button {
  height: 46px;
  width: 210px;
  border-radius: 2px;
  outline: none;
  font: 14px "Open Sans";
  background-color: #ffbb42;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
  margin-left: 10px;
}

.news .news__header .news_input_container button:hover {
  cursor: pointer;
}

@media (max-width: 836px) {
  .news .news_input_container button {
    margin: 15px 0 0 0;
  }
}

@media (max-width: 616px) {
  .news .news_input_container input {
    margin: 0 15px 15px 15px;
  }
  .news .news_input_container input:last-child {
    margin: 0 15px;
  }
}

.map {
  background: url("../images/map/map.png");
  text-align: center;
}

.map .map__circle {
  margin: 0 auto;
  width: 283px;
  height: 296px;
  border-radius: 50%;
  background-color: #394b50;
}

.map .map__circle .circle__text {
  font: 15px "LatoBold", "sans-serfif";
  line-height: 1.2;
  color: #788488;
}

.map .map__circle .circle__text .circle__title {
  color: #ffffff;
  text-transform: uppercase;
  padding: 45px 0 20px 0;
}

.map .map__circle .circle__text p {
  padding: 0 0 15px 0;
}

.map .map__circle .circle__text p:last-child {
  color: #ffbb42;
}

.map img {
  padding: 20px 0 220px 0;
}

footer {
  text-align: center;
}

footer .footer__header {
  padding: 70px 0 55px 0;
}

footer .footer__header .header__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 21px 0;
}

footer .footer__header .header__number img {
  height: 100%;
  padding: 10px 10px 0 0;
}

footer .footer__header .header__number p {
  font: 24px "LatoRegular", "sans-serif";
}

footer .footer__header nav img {
  padding: 0 20px 0 0;
}

footer .footer__footer {
  background-color: #709dca;
}

footer .footer__footer p {
  font: 13px "Open Sans", "sans-serif";
  color: #ffffff;
  padding: 17px 0 15px 0;
}
